<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405987791425-igfd8jh2ldqsg40mrgo2vvee3ei38dg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405987791425-igfd8jh2ldqsg40mrgo2vvee3ei38dg3</string>
	<key>API_KEY</key>
	<string>AIzaSyDs8MvJhdkTS714zETAIqSGNuyX5qoleqg</string>
	<key>GCM_SENDER_ID</key>
	<string>405987791425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firepost</string>
	<key>PROJECT_ID</key>
	<string>second-project-b4797</string>
	<key>STORAGE_BUCKET</key>
	<string>second-project-b4797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405987791425:ios:f0c5ba53d834c891dfacc0</string>
</dict>
</plist>